<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.se.softwareEngineering" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<!--
	TODO: Change theme of app to full screen. "Theme.NoTitleBar.Fullscreen" 
	-->
	<application 
		android:icon="@drawable/icon" 
		android:theme="@android:style/Theme.NoTitleBar">
		<activity android:name=".SoftwareEngineeringActivity"
			android:label="@string/app_name" android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".MainMenu" android:label="@string/app_name"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="com.se.softwareEngineering.CLEARSCREEN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".LevelSelect" android:label="@string/app_name"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="com.se.softwareEngineering.LEVELSELECT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".About" android:label="@string/app_name"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<action android:name="com.se.softwareEngineering.ABOUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>    
		    
		<activity android:name=".Level1" android:label="@string/app_name"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="com.se.softwareEngineering.LEVEL1" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity
		    android:label="@string/app_name"
		    android:name=".test2d.Test2D"
		    android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.se.softwareEngineering.test2d.Test2D" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		

	</application>
</manifest>